
<div class="container">
  <div class="col-md-12"> 
    <h2> title </h2>
  </div>

  <div class="col-md-6"> 
    code snippet
  </div>

  <div class="col-md-6 visualization"> 
   visualization
  </div>
</div>