<div class="container">
  
  <!-- TITLE -->
  <div class="col-md-12"> 
    <h2> Text Shadow</h2>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li><a href="#hack" data-toggle="tab">Hack</a></li>
    <li><a href="#code" data-toggle="tab">Code</a></li>
    <!-- <li><a href="#html" data-toggle="tab">HTML</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- RESULTS TAB -->
    <div class="tab-pane active" id="hack">
      
      <!-- HTML FOR ENTRY HERE -->
      <div class="style-container"> <!-- TRYING TO USE THIS DIV TO CONTAIN STYLES TO ONLY APPLY WITHIN -->
        <ul class="demo">
          <li class="normal"> No shadow</li>
          <li class="light"> Light shadow</li>
          <li class="dark"> Dark shadow</li>
          <li class="far"> Far shadow</li>
          <li class="close"> Close shadow</li>
          <li class="blurry"> Blurry shadow</li>
          <li class="color"> Colored shadow</li>
        </ul>
      

      </div>
      <!-- CSS FOR ENTRY HERE -->
        <style>
          ul.demo {
            text-align: center;
            padding: 20px;
            font-family: 'Open Sans';
            font-size: 30pt;
            font-weight: 800;
          }

          ul.demo li {
            margin: 10px;
          }
          .light {
            text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
          }
          .dark {
            text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.6);
          }
          .far {
            text-shadow: 10px 11px 2px rgba(0, 0, 0, 0.3);
          }
          .close {
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          }

          .blurry {
            text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3);
          }
          .color {
            text-shadow: 3px 4px 3px rgba(0, 7, 241, 0.5);
          }
        </style>
    </div>
    
    <!-- CODE TAB -->
    <div class="tab-pane" id="code">
      <div class="col-md-6 code"> 
        <h4> CSS </h4>
        <pre class="prettyprint"> 
          <%=@hack.css %>
        </pre>
      </div>
      <div class="col-md-6" id="code"> 
        <h4> HTML </h4>
        <pre class="prettyprint"> 
          <%=@hack.html_display %>
        </pre>
      </div>
    </div>

  </div>
</div>

<!-- JS FOR TABS -->
<script>
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  $('#myTab a[href="#hack"]').tab('show') // Select tab by name
  $('#myTab a:first').tab('show') // Select first tab
  $('#myTab a:last').tab('show') // Select last tab
  $('#myTab li:eq(2) a').tab('show') // Select third tab (0-indexed)
</script>
