<div id="css-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#css-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#css-carousel" data-slide-to="1"></li>
    <li data-target="#css-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <%= simple_partial :_slidecontent %>
      <!-- <div class="carousel-caption">
      </div> -->
    </div>
    <div class="item">
      <%= simple_partial :_textalign %>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#css-carousel" data-slide="prev">
    <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
    <img src="images/arrow-left.png" class="arrow" alt="...">
  </a>
  <a class="right carousel-control" href="#css-carousel" data-slide="next">
    <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
    <img src="images/arrow-right.png" class="arrow" alt="...">
  </a>
</div>